.wrapper {
  --avatar-size: 80px;
  position: relative;
  border-radius: 90%;
  background-color: #bfbebe;
  width: var(--avatar-size);
  height: var(--avatar-size);
  margin: 0 auto;
}

@media screen and (min-width: 768) {
  .wrapper {
    --avatar-size: 120px;
  }
}

.avatar {
  height: 100%;
  width: 100%;
  border-radius: 90%;
}

.add-button {
  --button-size: 28px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  font-size: 16px;
  background-color: #050505;
  transform: translate(-50%, 50%);
  border-radius: 90%;
  margin: 0;
  padding: 0;
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: white; /* TODO: synch with svg color*/
  border: none;
}

@media screen and (min-width: 768) {
  .add-button {
    --button-size: 38px;
  }
}

.add-button:hover {
  border: none;
}

.add-button {
}

.input {
  display: none;
}
