.button {
    background-color: var(--color-black-90);
    text-transform: uppercase;
    color: var(--color-white);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
}

/* --------------ADD RECIPE--------------- */
.recipe {
    background-color: transparent;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 1.2;
    box-shadow: inset 0 0 0 1px var(--color-white-90);
}

.recipe:hover,
.recipe:focus {
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .recipe {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 1.5;
    }
}

/* --------------ADD FAVORITE--------------- */
.add_favorite {
    display: flex;
    justify-content: center;
    padding: 14px 20px;
    background-color: var(--color-white);
    color: var(--color-black-90);
    border-radius: 30px;
    border: 1px solid var(--color-black-12);
    transition: var(--transition-default);
    font-size: 14px;
    min-width: 228px;
}

.add_favorite:hover,
.add_favorite:focus {
    color: var(--color-white);
    background-color: var(--color-black-90);
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .add_favorite {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 1.5;
        min-width: 278px;
    }
}