.wrapper {
  border: 1px solid #bfbebe;
  border-radius: 30px;
  padding: 30px 54px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 343px;
}

.title-H3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 6px;
  list-style: none;
  margin: 0;
  padding: 0;

  align-items: flex-start;
}
.stat-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #1a1a1a;
}

.stat-title {
  display: inline-block;
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #bfbebe;
}
