.button {
  color: #fff;
  background-color: #1a1a1a;
  border-radius: 30px;
  padding: 14px;

  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 768) {
  .button {
    font-size: 16px;
    line-height: 150%;
  }
}
