.section {
  position: relative;
  width: 343px;
  padding: 60px 30px;
  border-radius: 20px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}

@media (min-width: 640px) {
  .section {
    width: 560px;
    padding: 80px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 283px;
}

@media (min-width: 640px) {
  .container {
    gap: 40px;
    max-width: 400px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 640px) {
  .textContainer {
    gap: 20px;
  }
}

.title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-brand);
}

@media (min-width: 640px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

.description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-borders);
}

@media (min-width: 640px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark);
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media (min-width: 640px) {
  .buttonsContainer {
    gap: 20px;
  }
}

