.section {
  position: relative;
  width: 343px;
  padding: 60px 30px;
  border-radius: 20px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}

@media (min-width: 640px) {
  .section {
    width: 561px;
    padding: 80px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 283px;
}

@media (min-width: 640px) {
  .container {
    gap: 40px;
    max-width: 401px;
  }
}

.title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
  color: var(--color-brand);
}

@media (min-width: 640px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 640px) {
  .form {
    gap: 40px;
  }
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 640px) {
  .buttonsContainer {
    gap: 20px;
  }
}

.switchTextContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.staticText {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-borders);
  letter-spacing: -0.02em;
  cursor: default;
}

@media (min-width: 640px) {
  .staticText {
    font-size: 14px;
  }
}

.linkText {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-brand);
  letter-spacing: -0.02em;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 640px) {
  .linkText {
    font-size: 14px;
  }
}

.linkText:hover {
  color: var(--color-dark);
}

