.text-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 64px;
}

.right-column {
}
