@media screen and (min-width: 1440px) {
  .columns {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 375px;
  padding: 16px;
  margin: 0 auto 64px auto;
}

@media screen and (min-width: 768) {
  .left-column {
    max-width: 394px;
  }
}

.right-column {
}
