.button {
    position: relative;
    width: 38px;
    height: 38px;
    padding: 10px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #bfbebe;
    color: #050505;

    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #050505;
    border-color: #050505;
    color: var(--color-white);
}

@media screen and (min-width: 768px) {
    .button {
        width: 42px;
        height: 42px;
        padding: 12px;
    }
}