@import "tailwindcss";

@theme {
  /*fonts*/
  --font-sans: "Mulish", system-ui, sans-serif;

  /*colors*/
  --color-brand: #6366f1;
  --color-brand-dark: #4f46e5;
  --color-borders: #bfbebe;
  --color-dark: #1a1a1a;

  /*spacing*/
  --spacing-128: 32rem;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-xl bg-brand text-white;
  }
}

html {
  font-family: var(--font-sans);
}

/* Start CSS Reset */
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: none;
}

input,
textarea,
select,
button {
  color: inherit;
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/* End CSS Reset */
