@import "tailwindcss";

@theme {
    /*fonts*/
    --font-sans: "Mulish", system-ui, sans-serif;

    /*colors*/
    --color-brand: #6366f1;
    --color-brand-dark: #4f46e5;
    --color-borders: #BFBEBE;
    --color-dark: #1A1A1A;

    /*spacing*/
    --spacing-128: 32rem;
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded-xl bg-brand text-white;
    }
}

@layer utilities {
    .h3-mobile {
        @apply text-lg leading-6 font-extrabold font-sans tracking-tight uppercase;
    }
}

html {
    font-family: var(--font-sans);
}
