@import "tailwindcss";

@theme {
    --color-brand: #6366f1;
    --color-brand-dark: #4f46e5;

    --font-sans: "Inter", system-ui, sans-serif;

    --spacing-128: 32rem;
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded-xl bg-brand text-white;
    }
}