@import 'tailwindcss';

@theme {
  /*fonts*/
  --font-sans: 'Mulish', system-ui, sans-serif;

  /*colors*/
  --color-brand: #6366f1;
  --color-brand-dark: #4f46e5;
  --color-borders: #bfbebe;
  --color-dark: #1a1a1a;

  /*spacing*/
  --spacing-128: 32rem;

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-xl: 1440px;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-xl bg-brand text-white;
  }

  .tab-btn {
    @apply relative pb-3 sm:pb-4 font-extrabold text-[20px] leading-[1.2] tracking-[-0.02em] uppercase transition-colors;
  }

  .tab-btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px; /* опускаємо трохи нижче кнопки */
    height: 3px; /* товщина лінії */
    border-radius: 999px;
    background-color: transparent;
    transition: background-color 200ms ease-out;
  }

  .tab-btn--active {
    @apply text-black;
  }

  .tab-btn--active::after {
    background-color: #050505; /* або black */
  }
}

html {
  font-family: var(--font-sans);
}

nav::-webkit-scrollbar {
  display: none;
}
nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
